.item-card{
  margin-bottom: 20px;
  box-shadow: 1px;
}
h1{
  font-weight: bold;
}
.item-card{
  margin-bottom: 20px;
  box-shadow: 1px;
}
h1{
  font-weight: bold;
}
.filter-btn {
  margin: 0 10px;
  padding: 8px 16px;
 
  color: white;
  border: none;
  cursor: pointer;
}

.filter-btn:hover {
  background-color: #45a049;
}
.fixed-cart-button {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  text-align: center;
  padding: 10px;
  cursor: pointer;
}
.menu-container {
  padding-bottom: 50px; /* Add space above fixed cart button */
}
.menu-item {
  margin-bottom: 20px;
}
